header .container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo h3 {
  font-weight: bold;
}

.menu {
  flex: 1;
  width: 650px;
}
.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.Register {
  background-color: #4caf4f;

  padding: 6px 16px;
  color: #ffffff;
  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 5px;
}

a {
  color: #4d4d4d;

  text-decoration: none;
}
a.login {
  color: #4caf4f; //#4CAF4F
  margin-left: 20px;
}

i {
  display: none;
  color: #4caf4f;
  font-weight: bold;
  font-size: 20px;
}
@media (max-width: 1000px) {
  .menu ul {
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30px;
    right: 0px;
    padding: 10px 0;
    display: none; // الأساسي: تخفي القائمة
    z-index: 9999;
    // border-radius: 10px;
    background-color: #4caf4f;

    .login,
    .Register {
      margin-left: 0;
      border-radius: 0;
    }
  }

  .menu ul.show {
    display: flex;
    // width: 100%;
  }

  .menu ul li a {
    transition: 0.5s;
    color: white;
    padding: 10px;
    // width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
  }

  .menu ul li:hover a {
    border-bottom: 1px solid #fff;
  }

  i {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: #4caf4f;
  }
}
