.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  .header {
    text-align: center;
    h1 {
      color: #4d4d4d;
      font-weight: bold;
      font-size: 30px;
      // margin: 10px 0;
    }
    p {
      color: #717171;
    }
  }
}
@media (max-width: 1000px) {
  .container {
    // padding-left: 10px;
    // padding-right: 10px;
    margin: 0 auto;
    .header {
      text-align: center;
    }
    svg {
      width: 90%;
    }
  }
}
