.contianer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 580px;
    h1 {
      margin-bottom: 5px;
      font-weight: 600;
      color: #4d4d4d;
      //   line-height: 16px;
    }
    p {
      //   margin: 0;
      font-weight: 400;
      color: #717171;
    }
    button {
      padding: 15px 16px;
      outline: none;
      border-radius: 2px;
      border: none;
      background-color: #4caf4f;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

@media (max-width: 767px) {
  .contianer {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    button {
      display: block;
      margin: auto;
    }
    svg {
      order: 10;

      width: 300px;
      height: 300px;
    }
    .content {
      width: fit-content;
      padding: 10px;
      // width: 400px;
    }
  }
}
